.bodyExchange {
    margin: 0px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.navHighCenter {
  height: 24px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04aa6d; */
  font-size: 18px;
  color: white;
  font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */
}
.displayTitleBox {
  display: flex;
  justify-content: space-between; /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}

  .tvchartExchange {
    display: flex;
    justify-content: center;
  }
  .leftTitleEx {
    margin-left: 20px;
  }